<div class="commission-section">
  {{> responsiveImage image=image class='commission-section__left' lang=lang sizes=''}}
  <div class="commission-section__right">
    <h2 class="commission-section__title">{{i18n 'commissions' prefix 'title'}}</h2>
    <p>{{i18n 'commissions.currenciesInfo'}}</p>
    <p class="uppercase">{{i18n 'commissions.sizesInfo'}}</p>
    <div class="commission-section-price-box-container">
      {{#each sizes}}
        <div class="commission-section-price-box">
          <div class="commission-section-price-box__size">
            {{size.height}} x {{size.width}}cm / {{cmToInches size.height}}” x {{cmToInches size.width}}”
          </div>
          <div class="commission-section-price-box__price">
            $ {{formatCurrency (lookup price ../lang.language)}}
          </div>
        </div>
      {{/each}}
    </div>
    <p>
      {{i18n 'commissions.footnote'}}
    </p>
    <p>
      {{i18n 'commissions.footnote2'}}
    </p>
  </div>
</div>