<form action="/contact" method="post" class="contact-form">
  <div class="form-row">
    <label required="required" for="name">{{i18n 'contactForm.inputs.name'}}</label>
    <div class="input-container">
      <input type="text" id="name" name="name">
      {{#if errors.name}}
        <div class="error-message">{{i18n errors.name}}</div>
      {{/if}}
    </div>
  </div>
  <div class="form-row">
    <label required="required" for="email">Email</label>
    <div class="input-container">
      <input type="email" id="email" name="email">
      {{#if errors.email}}
        <div class="error-message">{{i18n errors.email}}</div>
      {{/if}}
    </div>
  </div>
  <div class="form-row">
    <label required="required" for="type">{{i18n 'contactForm.inputs.type'}}</label>
    <div class="input-container">
      <select id="type" name="type">
        {{#each priceBoxes}}
          {{#each sizes}}
            <option>
              {{i18n 'contactForm' ../prefix}} - {{size.height}} x {{size.width}}cm / {{cmToInches size.height}}” x {{cmToInches size.width}}” - $ {{formatCurrency (lookup price ../../lang.language)}}
            </option>
          {{/each}}
        {{/each}}
        {{#if errors.type}}
          <div class="error-message">{{i18n errors.type}}</div>
        {{/if}}
      </select>
    </div>
  </div>
  <div class="form-row">
    <label for="body">{{i18n 'contactForm.inputs.body'}}</label>
    <div class="input-container">
      <textarea id="body" name="body"></textarea>
      {{#if errors.body}}
        <div class="error-message">{{i18n errors.body}}</div>
      {{/if}}
    </div>
  </div>
  <div class="form-row">
    <label></label>
    <input type="submit" value="{{i18n 'contactForm.submit'}}">
  </div>
</form>