<nav class="navbar">
  <div class="narbar__mobile-section">
    <a class="navbar__home">
      FLAVIA CANEPA
    </a>
    <a href="javascript: void(0)" class="navbar__toggle-button" onclick="toggleMenu()">
      <i class="fas fa-bars fa-2x"></i>
    </a>
  </div>
  <ol class="navbar__links">
    <li class="navbar__item">
      <a class="navbar__link" href="/">
        {{i18n 'navbar.home'}}
      </a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="/commissions-portrait">
        {{i18n 'navbar.commissions'}}
      </a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="/about">
        {{i18n 'navbar.aboutMe'}}
      </a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="/FAQ">
        {{i18n 'navbar.faq'}}
      </a>
    </li>
    <li class="navbar__item-divider">
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="{{lang.enUrl}}">
        EN
      </a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="{{lang.esUrl}}">
        ES
      </a>
    </li>
  </ol>
</nav>