<!DOCTYPE html>
<html lang="{{lang.language}}">
<head>
  <title>{{i18n headSlug.title}}</title>
  {{!-- <meta name="description" content="{{i18n headSlug.description}}">
  <meta name="keywords" content="{{i18n headSlug.keywords}}"> --}}
  <link rel="alternate" hreflang="es" href="{{lang.esUrl}}" />
  <link rel="alternate" hreflang="en" href="{{lang.enUrl}}" />
  <meta property="og:locale" content="{{lang.language}}" />
  <meta name="robots" content="index, follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- used favicon generator: https://favicon.io/favicon-generator/ --}}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
  <div class="main-container">
    <div>
      {{> navbar}}
      {{{body}}}
    </div>
    {{> footer}}
  </div>
  <script type="text/javascript" src="/javascript/index.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KXMWQ1GY5T"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-KXMWQ1GY5T');
  </script>
</body>

</html>