<div class="section-wrapper mt-2">
  <div class="brand-section__sub-header brand-section__sub-header--light">
    <h1>
      {{i18n 'contact.header'}}
    </h1>
  </div>
  <section class="brand-section__content-container brand-section__content-container--light">
    {{#if success}}
      {{> contactForm priceBoxes=priceBoxes data=data disabled=true lang=lang}}
      <div class="alert--success">
        {{i18n 'contact.successMessage'}}
      </div>
    {{else}}
      {{> contactForm priceBoxes=priceBoxes data=data disabled=false lang=lang}}
    {{/if}}
  </section>
</div>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render={{env 'RECAPTCH_V3_KEY'}}"></script>
<script>
  const form = document.querySelector('.contact-form');
  const submitButton = document.querySelector('input[type=submit]');
  form.addEventListener('submit', function(event) {
    event.preventDefault();
    submitButton.setAttribute('disabled', 'disabled');
    grecaptcha.ready(function() {
      grecaptcha.execute('{{env 'RECAPTCH_V3_KEY'}}', {action: 'contact'}).then(function(token) {
        const tokenInput = document.createElement('input');
        tokenInput.setAttribute('value', token);
        tokenInput.setAttribute('type', 'hidden');
        tokenInput.setAttribute('name', 'token');

        const selectedType = form.querySelector('select').value;

        // Remove listener
        const formClone = form.cloneNode(true);
        formClone.appendChild(tokenInput);
        formClone.querySelector('select').value = selectedType;
        form.parentNode.replaceChild(formClone, form);

        formClone.submit();
      });
    });
  });
  </script>
